.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 10px 5px;
  background-color: #1f2836;
  border-radius: 10px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  transition: all 0.2s;
  border: 1px solid #5f5f5f;
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
}

.media:hover {
  background-color: #303d53;
  transform: scale(1.02);
  cursor: pointer;
}

@media (max-width: 550px) {
  .media {
    width: 35%;
  }
}

.poster {
  border-radius: 10px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 8px 0;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
  padding: 0 2px;
}
