.header {
  width: 100%;
  cursor: pointer;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #090c10;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  padding: 1rem;
  box-shadow: 0px 1px 5px #000;
  text-shadow: 0px 2px 3px #fafafa;
  color: #fff;
  z-index: 100;
}
